---
import Button from "./Button.astro";
const { title, ruta, rutaImagen, backgroundColor, color } = Astro.props;
---

<div class="ruta">
  <div class="contain-car">
    <div
      class="imagen-car one"
      style={{ "background-color": `var(${backgroundColor})` }}
    >
      <img src={rutaImagen} alt="imagen del atlantico" />
    </div>
    <p class="p-one" style={{ color: `var(${color})` }}>{title}</p>
    <a href={ruta}><Button /></a>
  </div>
</div>
<style>
  .ruta {
    display: flex;
    gap: 30px;
    justify-content: center;
  }

  .contain-car {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .contain-car a {
    text-decoration: none;
  }
  .contain-car p {
    width: auto;
    height: 41px;
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 40px;
  }
  .imagen-car img {
    width: 294px;
    height: 473px;
  }

  .p-one {
    color: var(--Primary-color-yellow);
  }

  .one {
    border-radius: 21px;
  }
</style>
